# 16K iNES ROM using Mapper30 (1-screen mirroring variant)

MEMORY
{
    ZP:     start =   $00, size =  $100;
    HEADER: start =     0, size =   $10, fill=yes;
    ROM:    start = $C000, size = $3FF4, fill=yes, fillval=$FF;
    VECTORS:start = $FFF4, size =    $C, fill=yes;
}

SEGMENTS
{
    ZEROPAGE:   load = ZP,      type = zp;
    HEADER:     load = HEADER,  type = ro;
    CODE:       load = ROM,     type = ro, align=$100;
    VECTORS:    load = VECTORS, type = ro;
}
